<div class="burrito-maker">
    <ng-container *ngIf="state < FormState.END">
        <div class="ingredientList">
            <ng-container *ngFor="let ingredient of ingredients">
                <div *ngIf="state === ingredient.step">
                    <img (click)="add(ingredient)" src="{{ingredient.getPath()}}" alt="{{ingredient.name}}" [ngClass]="{'glow': contains(ingredient)}">
                    <p>{{ingredient.getReadableName()}}</p>
                </div>
            </ng-container>
        </div>

        <button *ngIf="state > FormState.STEP_1" (click)="previousStep()">Back</button>
        <button (click)="nextStep()">Next</button>
    </ng-container>
    <div *ngIf="state === FormState.END">
        
    </div>
    <ng-container *ngFor="let ingredient of selectedIngredients">
        <div class="ingredientStack">
            <img src="{{ingredient.getPath()}}" alt="{{ingredient.name}}">
        </div>
    </ng-container>
</div>
